


  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <ul class="left-info">
              <li><a href="#"><i class="fa fa-clock-o"></i>Mon-Fri 09:00-17:00</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>090-080-0760</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="right-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/accueil"><h2>Esprit Stage </h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/accueil">Accueil
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/apropos">A propos</a>
              </li>  
             <li class="nav-item">
                <a class="nav-link" href="/inscription">s'inscrit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/connecter"> se connecter</a>
              </li>   
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>


    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>s'inscrire</h1>
            <span>We are over 20 years of experience</span>
          </div>
        </div>
      </div>
    </div>

  
    <div class="callback-form">
      <div class="section-heading">
        <h2>Inscription</h2>
      </div>
      
      <form id="contact" action="" method="get">
        <div class="form-group">
          <input name="nom" type="text" class="form-control" placeholder="Nom" required>
        </div>
        
        <div class="form-group">
          <input name="prenom" type="text" class="form-control" placeholder="Prénom" required>
        </div>
        
        <div class="form-group">
          <input name="email" type="email" class="form-control" placeholder="Adresse e-mail" required>
        </div>
        
        <div class="form-group">
          <input name="password" type="password" class="form-control" placeholder="Mot de passe" required>
        </div>
        
        <div class="form-group">
          <label for="pet-select">Choisir un rôle :</label>
          <select class="form-control" name="role" id="pet-select" required>
            <option value="" disabled>-- Choisir un rôle --</option>
            <br>
            <option value="admin">Admin</option>
            <option value="etudiant">Étudiant</option>
            <option value="entreprise">Entreprise</option>
          </select>
        </div>
      
        
        <div class="form-group">
          <button type="submit" id="form-submit">S'inscrire</button>
        </div>
      </form>
    </div>

    <div class="partners">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="owl-partners owl-carousel">
              <div class="partner-item">
                <img src="assets/images/client-01.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


   

  

  </body>
